RestExample/SOA/WSDLs/GET_RestService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="GET_RestService"
     targetNamespace="http://xmlns.oracle.com/classApplication/RestExample/GET_RestService"
     xmlns:tns="http://xmlns.oracle.com/classApplication/RestExample/GET_RestService"
     xmlns:inp1="http://www.rest.org/requestSchema"
     xmlns:inp2="http://www.rest.org/responseSchema"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp3="http://www.Student.org"
    >
    <plnk:partnerLinkType name="GET_RestService">
        <plnk:role name="GET_RestServiceProvider" portType="tns:GET_RestService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.rest.org/requestSchema" schemaLocation="../Schemas/Resquest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.rest.org/responseSchema" schemaLocation="../Schemas/Response.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.Student.org" schemaLocation="../Schemas/StudentSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GET_SUM_inputMessage">
        <wsdl:part name="request" element="inp1:request"/>
    </wsdl:message>
    <wsdl:message name="GET_SUM_outputMessage">
        <wsdl:part name="reply" element="inp2:response"/>
    </wsdl:message>
    <wsdl:message name="STU_MARKS_inputMessage">
        <wsdl:part name="request" element="inp3:stuRequest"/>
    </wsdl:message>
    <wsdl:message name="STU_MARKS_outputMessage">
        <wsdl:part name="reply" element="inp3:stuResponse"/>
    </wsdl:message>
    <wsdl:portType name="GET_RestService_ptt">
        <wsdl:operation name="GET_SUM">
            <wsdl:input message="tns:GET_SUM_inputMessage"/>
            <wsdl:output message="tns:GET_SUM_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="STU_MARKS">
            <wsdl:input message="tns:STU_MARKS_inputMessage"/>
            <wsdl:output message="tns:STU_MARKS_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
